In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('Book.csv')

In [6]:
df.head()

  Unnamed: 0  videos  views
0   channel1      30  34000
1   channel2      40  41000
2   channel3      50  42500
3   channel4      60  54300
4   channel5      70  56000

In [7]:
x=df['videos']
y=df['views']

In [8]:
x=np.array(x)
y=np.array(y)

In [9]:
x

array([30, 40, 50, 60, 70])

In [10]:
y

array([34000, 41000, 42500, 54300, 56000])

In [11]:
model = LinearRegression()
model.fit(x.reshape(-1,1),y)

NameError: name 'LinearRegression' is not defined